# :no_entry: **New Thing Request Rejected**

Your request did not pass validation! Please check the following errors and fix
them by editing your original issue.

{{#each errors}}
- {{this}}
{{/each}}
